:root{
    --color-text-primary: #212121;
    --color-text-light: #757575;
    --color-active: #2196F3;
    --bgcolor-dark: #2F303A;
    --bgcolor-light: #FFFFFF;
}
* {
    margin: 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
body{
    font-family: "Roboto", sans-serif;
    color: var(--color-text-primary);
    letter-spacing: 0.03;
}
.menu{
    background-color: var(--bgcolor-light);
}
.link{
   color: #212121;
}
.link:hover{
    color: var(--color-active);
}
.contact-link{
  color:  var(--color-text-light);
}
.contact-link:hover{
    color: var(--color-active); 
}
.logo-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    color: var(--color-active);
}
.studio-top{
    color: #000000;
    }
.header{
    background-color: var(--bgcolor-dark);
}
h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06;
    text-transform: uppercase;
    color: var(--bgcolor-light);
}
.studio-bottom{
    color: var(--bgcolor-light);
}
.button{
    background: var(--color-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.order{
    color: var(--bgcolor-light);
    font-weight: 700;
    line-height: 1.88;
}
.lorem{
    font-weight: 700;
    font-size: 14px;
    line-height: 0.875;
    text-transform: uppercase;
    color: var(--color-text-primary);
}
.description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-text-light);
}
.duties{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    color: var(--color-text-primary);
}
.name{
    font-weight: 500;
    line-height: 1.1875;
    text-align: center; 
    color: var(--color-text-primary);
}
.job{
    font-weight: 400;
    color: var(--color-text-light);   
}
.address{
    color: var(--bgcolor-light);
}
.footer{
    color: var(--color-text-light); 
}
.footer:hover{
    color: var(--color-active);
}
.category{
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    color: var(--color-text-primary);
    border: none;
    background: #F5F4FA;
    border-radius: 4px;
}
.category:hover{
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    color: var(--bgcolor-light);
    background-color: var(--color-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.examples{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06;
    color: var(--color-text-primary);  
}
.examples-type{
    font-weight: 400;
    line-height: 1.88;
    color: var(--color-text-light);
}
.footer{
    background-color: var(--bgcolor-dark)
}